@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--astonishing-figolla-d75c2d-netlify-app-inter-regular-font-weight),600,500,var(--astonishing-figolla-d75c2d-netlify-app-semantic-input-font-weight),400,700");

*{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    height: 100%;
}

button:focus-visible{
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a{
    text-decoration: none;
}

/* html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
} */