:root {
  --astonishing-figolla-d75c2d-netlifyapppale-sky: rgba(102, 112, 133, 1);
  --astonishing-figolla-d75c2d-netlifyappgray-chateau: rgba(156, 163, 175, 1);
  --astonishing-figolla-d75c2d-netlifyappwhite: rgba(255, 255, 255, 1);
  --astonishing-figolla-d75c2d-netlifyappathens-gray: rgba(229, 231, 235, 1);
  --astonishing-figolla-d75c2d-netlify-app-inter-regular-font-family: "Inter", Helvetica;
  --astonishing-figolla-d75c2d-netlify-app-inter-regular-font-weight: 400;
  --astonishing-figolla-d75c2d-netlify-app-inter-regular-font-size: 22.299999237060547px;
  --astonishing-figolla-d75c2d-netlify-app-inter-regular-letter-spacing: 0px;
  --astonishing-figolla-d75c2d-netlify-app-inter-regular-line-height: 32px;
  --astonishing-figolla-d75c2d-netlify-app-inter-regular-font-style: normal;
  --astonishing-figolla-d75c2d-netlify-app-semantic-input-font-family: "Inter", Helvetica;
  --astonishing-figolla-d75c2d-netlify-app-semantic-input-font-weight: 400;
  --astonishing-figolla-d75c2d-netlify-app-semantic-input-font-size: 17px;
  --astonishing-figolla-d75c2d-netlify-app-semantic-input-letter-spacing: 0px;
  --astonishing-figolla-d75c2d-netlify-app-semantic-input-line-height: normal;
  --astonishing-figolla-d75c2d-netlify-app-semantic-input-font-style: normal;
}